@media (max-width: 768px) {
.element {
      width: 50%;   
    }
}  

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
    word-wrap: break-word;
}

.alert {
    padding: 0px 15px 0px 15px;
    margin-bottom: 5px;
}

#formput {
    width: 62rem;
}

#formput1 {
    width: 63rem;
}

#repeatable input {
    margin-top: 1rem;
    margin-bottom: 1rem;
}