body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
    word-wrap: break-word;
}

.alert {
    padding: 0px 15px 0px 15px;
    margin-bottom: 5px;
}

#formput {
    width: 620px;
}

#formput1 {
    width: 660px;
}

#repeatable input {
    margin-top: 1rem;
    margin-bottom: 1rem;
}