body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.alert {
    padding: 0px 15px 0px 15px;
    margin-bottom: 5px
}

#formput {
    width: 55rem;
}
